a {
  color: inherit!important;
}

a:hover{
  text-decoration: none!important;
}

nav{
  align-items: baseline !important;
}

.order-first{
  order: 9999;
}

.medium-zoom-image{
  width: 685.078px!important;
}

.carousel-caption{
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}